h1 {
  text-decoration: underline;
}

.node {
  break-before: right;
}

a::after {
  content: ", page " target-counter(attr(href url), page);
}

@page:left {
  @bottom-left {
    content: counter(page);
  }
}

@page:right {
  @bottom-right {
    content: counter(page);
  }
}

/**
@page {
  size: 210mm 297mm;
  margin: 10mm 5mm;
}

*/

/**
@media print {
  h1 {
  }
}
*/