<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  {% if DEBUG %}
  <link href="{{ url_for('static', filename='pagedjs.interface.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/paged.polyfill.js') }}"></script>
  <!-- <script src="https://unpkg.com/pagedjs/dist/paged.polyfill.js"></script> -->
  {% endif %}
  <title>Generated book</title>
</head>
<body>
  {% with node=tree, name="Root" %}
    {% include "node.html" %}
  {% endwith %}
</body>
</html>