<section class="node" id="{{ name|replace(" ", "") }}">
  <h1>{{ name }}</h1>
  <h2>{{ node.label }}</h2>
  <p>
    Consider the 
    {% if node.index == 0 %}
      petal length,
    {% elif node.index == 1 %}
      petal width,
    {% elif node.index == 2 %}
      sepal length,
    {% else %}
      sepal width,
    {% endif %}

    Is it smaller than {{ node.value }}cm?
  </p>
  <p>
    {% with name="Left from "+name %}
      Yes? Go to <a href="#{{ name|replace(" ", "") }}">{{ name }}</a>
    {% endwith %}
  </p>
  <p>
    {% with name="Right from "+name %}
      No? Go to <a href="#{{ name|replace(" ", "") }}">{{ name }}</a>
    {% endwith %}
  </p>

</section>

{% with name="Left from "+name %}
  {% if node.left is string %}
    <section class="node" id="{{ name|replace(" ", "") }}">
      <h1>{{ name }}</h1>
      <h2>{{ node.left }}</h2>
    </section>
  {% else %}
    {% with node=node.left %}
      {% include "node.html" %}
    {% endwith %}
  {% endif %}
{% endwith %}

{% with name="Right from "+name %}
  {% if node.right is string %}
    <section class="node" id="{{ name|replace(" ", "") }}">
      <h1>{{ name }}</h1>
      <h2>{{ node.right }}</h2>
    </section>
  {% else %}
    {% with node=node.right %}
      {% include "node.html" %}
    {% endwith %}
  {% endif %}
{% endwith %}